<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Craiglist Scraper/Emailer</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body style="background-color: #551A8B;">
  <div class="container col-8" style="background-color: #EEEEEE;">
  {% for category, message in get_flashed_messages(with_categories=True) %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
  {% endfor %}
  <h1>Craigslist Scraper/Emailer</h1>
  <form method="POST" id="add_search">
    {{ form.hidden_tag() }}

    {% for field in form if field.widget.input_type != 'hidden' %}
      {% for error in field.errors %}
        <span class="text-danger">{{ error }}</span>
      {% endfor %}
      {{ field(placeholder=field.label.text, class="form-control mb-1") }}
      {% endfor %}

    <button class="btn btn-primary btn-lg">Add Search URL</button>
  </form>

  <div class="pb-2">
    <h2>Current Searches</h2>
    <ul>
      {% for search_query in searches %}
      <li>{{ search_query.name }} - <a href="{{ search_query.search_url }}">{{ search_query.search_url }}</a>
        <br/>
        <div class="btn-group">
      {% if search_query.active == True %}
      <p class="me-2">Status = Active</p><form method="POST" action="/searches/{{ search_query.id }}/deactivate"><button class="btn btn-warning me-2">Deactivate</button></form>
      {% else %}
      <p class="me-2">Status = Inactive</p> <form method="POST" action="/searches/{{ search_query.id }}/activate"><button class="btn btn-success me-2">Activate</button></form>
      {% endif %}
      <form method="POST" action="/searches/{{ search_query.id }}/delete"><button class="btn btn-danger">Delete</button></form>
    </div>
  </li>
      {% endfor %}
    </ul>
</div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>